html, body {
  margin: 0;
  padding: 0;
}

.react-markdown-html table {
  width: 100%;
  border-collapse: collapse;
}
.react-markdown-html th,
.react-markdown-html td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Скрываем полосу прокрутки для WebKit-браузеров (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Скрываем полосу прокрутки для Firefox */
.no-scrollbar {
  scrollbar-width: none;
}